<div class="box">
  <mat-stepper orientation="vertical" #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Need to upload a file">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Upload your resume </ng-template>

          <mat-form-field appearance="fill">
            <mat-label>file upload</mat-label>
            <div (click)="uploadFile.click()" class="custom-file-upload">
              <button mat-raised-button color="primary">Choose File</button>
              <input matInput #uploadFile formControlName="file"
                placeholder="Upload your resume"
                (change)="upload($event)"
                type='file'/>
            </div>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>

      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Need the enter company email">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>

          <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="companyPhone" placeholder="Ex. 555-555-5555" required>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput formControlName="companyAddress" placeholder="Ex. 1 Main St, New York, NY" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>

      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>

        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>

    </mat-step>
  </mat-stepper>
</div>
