.box{
  box-shadow:
  0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 #00000030;
  min-width: 500px;
  max-width: 60%;
  margin: auto;
}
.form-group > label{
  font: normal 1.2em 'Roboto', sans-serif;
  color: #eee;
}
.form-group > input, .form-group > textarea, .form-group > select, .form-group > button{
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  background: #fff;
  color: rgb(12, 12, 12);
}
:host /deep/ .material-icons {
  font-family: 'Material Icons' !important;
}

