<br><br><br><br>
<div id="box" class="box">
    <header>Applicant <br> Registration</header>
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      {{ model | json }}

      <!-- model.resume -->
      <div class="form-group" [ngClass]="{'has-danger': f.submitted && !model.resume}">
        <label for="resume">Upload your Resume</label>
        <input type="file" name="resume" id="resume" [(ngModel)]="model.resume" #resume="ngModel" required>
      </div>

      <!-- model.aboutMe -->
      <div class="form-group" [ngClass]="{
        'has-danger': aboutMe.invalid && (aboutMe.dirty || aboutMe.touched),
        'has-success': aboutMe.valid && (aboutMe.dirty || aboutMe.touched)
        }">
        <label for="aboutMe">Tell me about yourself</label>
        <input type="text" id="aboutMe" name="aboutMe" [(ngModel)]="model.aboutMe" #aboutMe="ngModel" required>
      </div>

      <!-- model.educationLevel -->
      <div class="form-group" [ngClass]="{
        'has-danger': educationLevel.invalid && (educationLevel.dirty || educationLevel.touched),
        'has-success': educationLevel.valid && (educationLevel.dirty || educationLevel.touched)
        }">
        <label for="educationLevel">Education Level</label>
        <select class="form-control"  id="educationLevel" name="educationLevel" [(ngModel)]="model.educationLevel" #educationLevel="ngModel" required>
          <option *ngFor="let level of educationLevels" [value]="level">{{level}}</option>
        </select>
      </div>

      <!-- model.educationField -->
      <div class="form-group" [ngClass]="{
        'has-danger': educationField.invalid && (educationField.dirty || educationField.touched),
        'has-success': educationField.valid && (educationField.dirty || educationField.touched)
        }">
        <label for="educationField">Field of Education</label>
        <select class="form-control"  id="educationField" name="educationField" [(ngModel)]="model.educationField" #educationField="ngModel" required>
          <option *ngFor="let field of educationFields" [value]="field">{{field}}</option>
        </select>
      </div>

      <!-- model.employmentStatus -->
      <div class="form-group" [ngClass]="{
        'has-danger': employmentStatus.invalid && (employmentStatus.dirty || employmentStatus.touched),
        'has-success': employmentStatus.valid && (employmentStatus.dirty || employmentStatus.touched)
        }">
        <label for="employmentStatus">Employment Status</label>
        <select class="form-control"  id="employmentStatus" name="employmentStatus" [(ngModel)]="model.employmentStatus" #employmentStatus="ngModel" required>
          <option *ngFor="let status of employmentStatuses" [value]="status">{{status}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!f.form.valid">Submit</button>
    </form>
</div>



<!-- this is for the dropdown selector form -->
        <!-- <div class="form-group">
          <label for="power">Hero Power</label>
          <select class="form-control"  id="power"
                  required
                  [(ngModel)]="model.power" name="power">
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
          </select>
        </div> -->
