.box {
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#160f07;
    font-family: 'Lato', sans-serif;
    background: #e2dedb;
    margin-inline: 101px;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
  line-height: 40px;
}

#form {
  position: relative;
  width: 80%;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 400px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  outline: none;
  color: #7474747b;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b5b5b5;
  color: #e2dedb;
}

#submit {
  width: 20%;
  position: fixed;
  
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}