<div id="box">
    <mat-card class="register">
        <div>
            <mat-card-header>
                <div class="title">
                    <mat-card-title class="please-work">Applicant Registration</mat-card-title>
                </div>
            </mat-card-header>
        </div>
        <div>
            <mat-card-content>
                <div>
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput [(ngModel)]="userData.Firstname" type="text" name="First Name" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput [(ngModel)]="userData.Lastname" type="text" name="Last Name" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="userData.Email" type="email" name="Email" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Current Job Title</mat-label>
                        <input matInput [(ngModel)]="userData.CurrentTitle" type="text" name="Current Job Title" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Field/Specialization</mat-label>
                        <input matInput [(ngModel)]="userData.Field" type="text" name="Field/Specialization" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Years of Experience</mat-label>
                        <input matInput [(ngModel)]="userData.Years" type="number" name="Years of Experience" required>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </div>  
        <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="" (click)="registerUser()">Get Hired!</button>
        </mat-card-actions>  
    </mat-card>
</div>
