.box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    text-align: center;
}

.register {
    /* display: inline-block; */
    text-align: center;
    margin-top: 2%;
    margin-right: 30%;
    margin-left: 30%;
}