<nav class="navbar navbar-light">
    <div class="container-fluid">
        <div class="h4">
            Employee Hiring Tool
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
    <div class="navbar-collapse py-2">    
        <a class="nav-link text-white" routerLink="">Home</a>
        <a class="nav-link text-white" routerLink="/about">About Us</a>
        <a class="nav-link text-white" routerLink="/register">Register</a>
    </div>
</div>