<div>
<nav class="navbar navbar-light">
    <div class="container-fluid">
        <a class="h3 nav-link text-white" routerLink="">
            Project X
        </a>
        <div class="menu-btn" [ngClass]="{'open': menuOpen, 'show': menuOpen}" (click)="toggleMenu()">
            <div class="menu-btn__burger"></div>
        </div>
    </div>
</nav>

<div class="collapse" [ngClass]="{'open': menuOpen, 'show': menuOpen}">
    <div class="navbar-collapse">    
        <a class="nav-link text-white text-center" routerLink="">Home</a>
        <a class="nav-link text-white text-center" routerLink="/about">About Us</a>
        <a class="nav-link text-white text-center" routerLink="/clientskills">Client Req's</a>
        <ng-container *ngIf="loggedIn; else loggedOut">
            <a class="nav-link text-white text-center" (click)="logout()">Log Out</a>
        </ng-container>
        <ng-template #loggedOut>
            <a class="nav-link text-white text-center" routerLink="/login">Login</a>
            <a class="nav-link text-white text-center" routerLink="/register">Register</a>
        </ng-template>
</div>  
        <!-- <ng-container *ngIf="auth0.isAuthenticated$ | async; else loggedOut">
    <button class="btn btn-danger" (click)="auth0.logout({ returnTo: document.location.origin})">
        Log out
    </button>
</ng-container>

<ng-template #loggedOut>
    <button class="btn btn-primary" (click)="auth0.loginWithPopup()">Log in</button>
</ng-template> -->
        <br>        
        <!-- <a class="nav-link text-white" routerLink="/resetemail">Forgot Email</a>
        <a class="nav-link text-white" routerLink="/resetlogin">Forgot Password</a>
        <a *ngIf="_user != null" class="nav-link text-white" routerLink="/applicantdocs">Applicant Document Upload</a>
        <a *ngIf="_user == null" class="nav-link text-white" routerLink="/login">Log In</a>
        <a *ngIf="_user != null" style="cursor: pointer;" class="nav-link text-white" (click)="logout()">Log Out</a> -->
    </div>
</div>
