<main>

    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form>

                <!-- Email input -->
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPasswordVerify" placeholder="Verify">
                    <label for="floatingPasswordVerify">Verify</label>
                </div>

                
                <br>
      
                <!-- Submit button -->
                <div class = "text-center">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
                </div>
      
            </form>
            </div>
          </div>
        </div>
      </section>

</main>