*{transition:all .3s ease-in-out}
div{border: 1px solid black;}
.screen{position: fixed;}
.right{float: right;}
.left{float:left;}
.full{ width: 100%;height: 100%;}

.container {
  float: left;
  width: 100%;
  height: 100%;
  margin-left: -13px;
}
.full.screen.left{
  width: 320px;
  background-color: rgba(64, 224, 208, 0.568);
}
.full.screen.left.collapsed{
  width: 55px;
  min-width: none;
  background-color: rgba(614, 224, 208, 0.918);
}
.full.screen.right{
  margin-left: 320px;
  width: 80%;
  background-color: rgba(165, 42, 42, 0.377);
}
.full.screen.right.collapsed{
  width: 100%;
  margin-left: 55px;
}
.item{
  display: block;
  margin: auto;
  cursor: pointer;
  border-radius: 20px;
}
.item:hover, .item:focus{
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.459) 0px 1px 2px;
}
.header {grid-area: hd;}
.footer {grid-area: ft;}
.minibar.collapsed{
  width: 55px;
  grid-template-rows: repeat(2, 1fr);
  height: auto;
}
.minibar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  min-height: 60px;
  background-color: rgb(233, 233, 233);
  display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-template-areas:
      "hd hd hd hd hd hd"
      "ft ft ft ft ft ft";
}
.minibar-icon{
  width: 45px;
  height: 45px;
}
.collapser{transform: rotate(-90deg) scale(.6);}
.collapser.collapsed{transform: rotate(90deg) scale(.6);}
.match-grid.collapsed{display: none;}
.match-grid{
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  height: 88%;
  min-height: 400px;
  background-color: rgba(75, 62, 134, 0.404);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.grid-item{
  /* round the corners */
  border-radius: 45px;
  box-shadow: 0 0 5px 4px rgba(80, 80, 80, 0.5);
  padding: 1px;
  width: 90%;
  min-width: 100px;
  min-height: 100px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.choice-area{
  margin-left: 20%;
  width: 60%;
  height: 100%;
  background-color: rgb(158, 111, 221);
}




