*{transition:all .3s ease-in-out}
div{border: 1px solid black;}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
}
.screen{position: fixed;}
.right{float: right;}
.left{float:left;}
.full{ width: 100%;height: 100%;}

.container {
  float: left;
  width: 100%;
  height: 100%;
  margin-left: -13px;
}
.full.screen.left{
  width: 320px;
  background-color: rgba(64, 224, 208, 0.568);
  z-index: 2;
}
.full.screen.right{
  margin-left: 320px;
  width: 80%;
  background-color: rgba(165, 42, 42, 0.377);
}

.item{
  display: block;
  margin: auto;
  cursor: pointer;
  border-radius: 20px;
}
.item:hover, .item:focus{
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.459) 0px 2px 5px;
}
.header {grid-area: hd;}
.footer {grid-area: ft;}
.minibar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  min-height: 60px;
  background-color: rgb(233, 233, 233);
  display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-template-areas:
      "hd hd hd hd hd hd"
      ".  .  .  .  .  ft";
}
.minibar > * > img{
  width: 35px;
  height: 35px;
}

.match-grid{
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  height: 88%;
  min-height: 400px;
  background-color: rgba(75, 62, 134, 0.404);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.match-grid > img{
  border-radius: 50px;
  padding: 1px;
  width: 90%;
  height: 90%;
  max-width: 100px;
  max-height: 100px;
}

.choice-area{
  margin-left: 180px;
  position: relative;
  width: 70%;
  height: 100%;
  background-color: rgb(158, 111, 221);
  z-index: -2;
}
.choice-area > img{
  position: absolute;
  z-index: -1;
}


.collapser{transform:
  rotate(-90deg) scale(.6);
}
.collapser:hover{transform:
  rotate(-90deg) scale(.8) translateY(-5px)
}
.collapser.collapsed{transform:
  rotate(90deg) scale(.6);
}
.collapser.collapsed:hover{transform:
  rotate(90deg) scale(.8) translateY(-5px);
}
.match-grid.collapsed{
  display: none;
}
.minibar.collapsed{
  width: 40px;
  grid-template-rows: repeat(2, 1fr);
  height: auto;
}
.full.screen.left.collapsed{
  width: 40px;
  min-width: none;
  background-color: rgba(614, 224, 208, 0.918);
}
.full.screen.right.collapsed{
  width: 100%;
  margin-left: 40px;
}


