<div class="container">
  <div class="full screen left" name="collapsable">

    <div class="minibar" name="collapsable">
      <div class="header">
          <img class="item left" src="https://www.shareicon.net/data/256x256/2016/07/28/803135_music_512x512.png" alt="Google Logo">
          <img class="item right" src="https://www.shareicon.net/data/256x256/2016/07/28/803135_music_512x512.png" alt="Google Logo">
          <img class="item right" src="https://www.shareicon.net/data/256x256/2016/07/28/803135_music_512x512.png" alt="Google Logo">
          <img class="item right" src="https://www.shareicon.net/data/256x256/2016/07/28/803135_music_512x512.png" alt="Google Logo">
      </div>
      <div class="footer">
          <img class="item right collapser" name="collapsable"
          src="https://www.svgrepo.com/show/365206/caret-double-up-thin.svg"
          (click)="collapse()">
      </div>
    </div>

    <div class="match-grid" name="collapsable">
        <img class="item" *ngFor="let match of matches" src={{match}}>
    </div>
  </div>

  <div class="full screen right" name="collapsable">

    <div class="choice-area left">
      <img class="full item" *ngFor="let person of potentials"
      src="{{person}}" id="{{person}}"
      (pointerdown)="onMouseDown($event, person);">
    </div>

  </div>
</div>
