.jumbotron {
    background-color: teal;
    color: white;
}

.jumbotron > p {
    font-size: 1.2rem;
}
.intro-header {
    height: unset !important;
}
.top-nav-collapse {
    background-color: #7d8488 !important;
}
.view {
    height: 100vh !important;
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #7d8488 !important;
    }
}
.rgba-gradient .full-bg-img {
    background: linear-gradient(45deg, rgba(242, 34, 50, 0.5), rgba(255, 187, 54, 0.6) 100%);
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 700px;
    }
}