<!-- The video -->
<video autoplay muted loop id="myVideo">
    <source src="https://assets.codepen.io/6093409/river.mp4" type="video/mp4">
</video>
  

<h1>
    Here you can find the best <br> <br> <br> of what you want<br>
    <button class="btn btn-lg btn-primary" type="button">Sign Up</button>
</h1>

<main>
    <div class="row">
            <div class="column card text-white bg-secondary mb-3">
                <div class="card-header">Get job</div>
                <div class="card-body">
                <img src="../../../assets/images/MaskLogo.png" alt="logo1" width="100" height="100">
                  <h4 class="card-title">Secondary card title</h4>
                  <p class="card-text">If you click around here you'll go to the applicant page</p>
                </div>
              </div>
            <div class="column card text-white bg-secondary mb-3">
                <div class="card-header">Hire</div>
                <div class="card-body">
                <img src="../../../assets/images/MaskLogo.png" alt="logo2" width="100" height="100">
                  <h4 class="card-title">Secondary card title</h4>
                  <p class="card-text">If you click here you'll be able to hire for a position</p>
                </div>
              </div>
            <div class="column card text-white bg-secondary mb-3">
                <div class="card-header">Third</div>
                <div class="card-body">
                <img src="../../../assets/images/MaskLogo.png" alt="logo3" width="100" height="100">
                  <h4 class="card-title">Secondary card title</h4>
                  <p class="card-text">If you want to do a third thing go here.</p>
                </div>
              </div>
    </div>
</main>