.btn {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    height: 2.6rem;
    padding-top: .4rem;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(255, 255, 255, 0);
    border: 3px solid #fff;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
    transition: all .6s;
  }
  .btn:hover {
    background: #fff;
    color: #000;
  }