<app-navbar></app-navbar>
<div id="box">
    <mat-card class="register">
        <div>
            <mat-card-header>
                <!-- <h2 class="please-work">Please fill out form</h2> -->
                <div class="please-work">
                    <mat-card-title class="please-work">Registration</mat-card-title>
                </div>
            </mat-card-header>
        </div>
        <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="/register/company">Company</button>
            <button mat-raised-button color="primary" (click)="registerUser()" routerLink="/register/individual">Individual</button>
        </mat-card-actions>  
    </mat-card>
</div>
