<app-navbar></app-navbar>
<div id="box">
  <mat-card class="register">
    <div>
      <mat-card-header>
        <div class="title">
          <mat-card-title class="please-work">Please enter your Email and a new Password</mat-card-title>
        </div>
      </mat-card-header>
    </div>
    <div>
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="userData.Email" type="email" required>
            <div *ngIf="_emailisEmpty" class="d-flex justify-content-center text-danger my-3">
              Please fill out the field
              above!
            </div>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="userData.Password" required>
            <div *ngIf="_passwordisEmpty" class="d-flex justify-content-center text-danger my-3">
              Please fill out the field
              above!
            </div>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="userData.Firstname" required>
            <div *ngIf="_firstisEmpty" class="d-flex justify-content-center text-danger my-3">
              Please fill out the field
              above!
            </div>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="userData.Lastname" required>
            <div *ngIf="_lastisEmpty" class="d-flex justify-content-center text-danger my-3">
              Please fill out the field
              above!
            </div>
          </mat-form-field>
        </div>
      </mat-card-content>
    </div>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="" (click)="resetlogin()">Reset Password</button>
    </mat-card-actions>
  </mat-card>
</div>
