body {
  background-color: #17c0eb;
  font-family: Nunito Sans;
}

.btn {
  background-color: #17c0eb;
  width: 100%;
  color: #fff;
  padding: 10px;
  font-size: 18px;
}

  .btn:hover {
    background-color: #2d3436;
    color: #fff;
  }

input {
  height: 50px !important;
}

.form-control:focus {
  border-color: #18dcff;
  box-shadow: none;
}

h3 {
  color: #17c0eb;
  font-size: 36px;
}

.cw {
  width: 35%;
}

@media(max-width: 992px) {
  .cw {
    width: 60%;
  }
}

@media(max-width: 768px) {
  .cw {
    width: 80%;
  }
}

@media(max-width: 492px) {
  .cw {
    width: 90%;
  }
}
