/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    margin: 5px;
}

.container {
    margin-top: 1em;
}

.jumbotron,
.navbar,
.navbar-collapse {
    background-color: teal;
    color: white;
}

.jumbotron>p {
    font-size: 1.2rem;
}